.home_page{
  display: flex;
   height: 100vh; 
  overflow: hidden; 
}
.main_content{
  width: 100%;
  background-color: #F7F0D2;
   flex-grow: 1;
  overflow-y: auto; 
  padding: 20px;
}
.nav_bar {
  width: 250px;
  /* background-color: #343a40;  */
  background-color: #5E7C59;
  color: white;
  flex-shrink: 0;
}

.div h1{
  color: black;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.upload-box {
  width: 400px;
  height: 250px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fafafa;
  transition: border-color 0.3s ease;
}

.upload-box:hover {
  border-color: #999;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.detect-button {
  margin-top: 20px;
  background-color: #111;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.detect-button:hover {
  background-color: #222;
}
